/*CSS3
*******Estilizagem do site Filosofia*******

"CSS é massa demais! Mude minha mente." -- Edu, 2023.

Participantes:    
    Eduardo Carvalho Valadão,    Isabela Cunha Silva,   Lucas Matheus de Oliveira Barbosa, 
    Samuel Prado Soares,    Victor Afonso Fernandes.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --cinza: #b0b0b0;
    --color-azul-100: #364c59;
    --color-azul-10: #84b1d9;
    --color-azul-30: #71A8D8;
    --color-azul-50: #5fa0d9;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 0 5px;
    background-color: var(--color-azul-50);
    display: block;
}

.a {
    text-decoration: none;
    width: 100%;
}

.navbar {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
}

.itens {
    display: flex;
}

.itens.ativo {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #5fa0d9;
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in-out;
    visibility: visible;
    overflow-x: hidden;
}

.btnMub {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    display: none;
    cursor: pointer;
}

.linha1 {
    background-color: var(--color-azul-100);
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    transition: .5s all ease-in-out;
}

.linha2 {
    background-color: var(--color-azul-100);
    width: 35px;
    height: 5px;
    transition: .5s all ease-in-out;
}

.linha3 {
    background-color: var(--color-azul-100);
    width: 35px;
    height: 5px;
    margin-top: 5px;
    transition: .5s all ease-in-out;
}


.ativo .linha1 {
    margin-bottom: -5px;
    transform: rotate(315deg);
    transition: .5s all ease-in-out;
}

.ativo .linha2 {
    opacity: 0;
    transform: rotate(315deg);
    transition: .5s all ease-in-out;
}

.ativo .linha3 {
    margin-top: -5px;
    transform: rotate(-315deg);
    transition: .5s all ease-in-out;
}

.link {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    text-decoration: none;
    padding: 15px 5px;
    border-radius: 15px;
    transition: background .5s ease-in-out;
}

.link:hover {
    background-color: var(--color-azul-10);
}

.top-title {
    font-size: 1.5rem;
    color: var(--color-azul-100);
    text-transform: uppercase;
}

.tl1 {
    margin-top: 45px;
    width: 100%;
    height: 100%;
    background-color: var(--color-azul-100);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

img.imgb {
    max-width: 60%;
    position: relative;
    max-height: 60%;
    border-radius: 50%;
}

img.imga {
    max-width: 70%;
    right: 2%;
    position: absolute;
    max-height: 70%;
    animation: img 4s ease-in-out;
}

@keyframes img {
    25% {
        transform: rotate(-180deg);
    }

    50% {
        transform: translateX(-200px);
    }

    75% {
        transform: scale(1.1);
    }
}

.mgh {
    padding-right: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20%;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.p1,
.p2 {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: var(--cinza);
}

.p2 {
    font-style: italic;
    color: var(--color-azul-10);
    font-size: .8rem;
}

.cm {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: opacity .8s ease-in-out;
}

.cm:hover {
    opacity: .6;
}

.fm {
    text-align: center;
    color: var(--color-azul-100);
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: var(--color-azul-10);
    border-radius: 30px;
    margin-bottom: 30px;
}


.caixaM {
    margin-top: 50px;
    gap: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.dg {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    background-color: var(--color-azul-100);
    margin-bottom: 100px;
}

.ps {
    color: var(--cinza);
    padding: 10px;
    margin-top: 20px;
}

.ps2 {
    color: var(--color-azul-10);
    padding: 5px;
}

@media screen and (max-width: 600px) {

    .nav {
        padding: 15px 10px;
    }

    .itens {
        transition: all .5s ease-in-out;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 0%;
        height: 100vh;
        position: absolute;
        visibility: hidden;
        overflow-x: hidden;
        margin-top: 20px;
    }

    .mgh {
        flex-direction: column;
    }

    img.imgb {
        margin-left: 50px;
        width: 40%;
        height: 40%;
    }

    img.imga {
        margin-left: 50px;
        width: 50%;
        height: 50%;
        top: -42%;
        right: 0;
        position: relative;
    }

    .p {
        margin-bottom: 50px;
    }

    .caixaM {
        flex-direction: column;
    }

    .caixa {
        width: 100%;
    }

    .tl1 {
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
    }

    .btnMub {
        display: flex;
    }

    .link { 
        padding: 15px 100vh;
    }
}

@media screen and (max-width: 400px) {
    img.imga {
        top: -25%;
    }
}

@media screen and (max-width: 270px) {
    img.imga {
        top: -18%;
    }

    @keyframes img {
        25% {
            transform: rotate(-180deg);
        }

        50% {
            transform: translateX(-90px);
        }

        75% {
            transform: scale(1.1);
        }
    }

    .tl1 {
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}
:root {
    --color-neutral-0: #364c59;
    --color-neutral-10: #b0b0b0;
    --color-neutral-30: #000000;
    --color-neutral-40: #ffffff;

}

main {
    height: 20vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

.footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#github {
    background-color: #161b22;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}


#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--color-azul-50);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: var(--cinza);
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
